<div class="wrapper">
  <div class="content-wrapper">
      
    <section class="content" id="loginPage">

        <div id="loginBox">
            <div class="row">
                <div class="col-xs-12 col-sm-offset-4 col-sm-4">
                    <div class="logo-banner text-center">

                    </div>
                    <div class="login-Box">
                        <div class="row form-group text-center">
                            <div class="col-xs-12">
                                <h4>Welcome to Admin Portal!</h4>
                                <span>Please sign in to get access.</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group has-feedback">
                                    <input type="textbox" class="form-control" placeholder="Username">
                                    <i class="fa fa-user form-control-feedback"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group has-feedback">
                                    <input type="textbox" class="form-control" placeholder="Password">
                                    <i class="fa fa-lock form-control-feedback"></i>
                                </div>
                            </div>
                        </div>  
                        <div class="row form-group">
                            <div class="col-xs-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">Remember me
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-6 text-right">
                                <a href="#">Forgot Password?</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                    
                                <a [routerLink]="['../dashboard']"><button type="button" class="btn btn-block btn-primary">Sign In</button></a>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
      </div>
        
    </section>
      
  </div> 
</div>