<ul class="nav nav-tabs bg-white" style="padding-left: 21px;" role="tablist">
    <li class="nav-item grey active">
      <a class="nav-link active" data-toggle="tab" href="#licenseProfile">License Profiles</a>
    </li>
  </ul>
  <div class="tab-content">
<div id="licenseProfile" class="tab-pane active">
<section class="content-header" style="padding-left: 43px;">
   <div class="row">
       <div class="col-sm-5">
           
       </div>
       <div class="col-md-2 pr-5 pull-right">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary">Go</button>
                </span>
            </div>
        </div>
   </div>
</section>

<section class="content" style="padding-left: 25px;">
    <table class="table table-responsive employee-table">
        <thead>
            <tr>
                <th>Sl.No</th>
                <th>Retailer Name</th>
                <th>Retailer Code</th>
                <th>Depot Name</th>
                <th>Gazette Code</th>
                <th>Supervisor/Owner</th>
                <th>Issue Date</th>
                <th>Validatity Date</th>
                <th>User ID</th>
                <th>Mobile No</th>
                <th>Email ID</th>
                <th>Actions</th>
                <th>View</th>




            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>02-Dec-2018</td>
                <td>0068</td>
                <td>1156346477PIN</td>
                <td>999 POWER STAR TIME WISKHY</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                
            </tr>
            
            <tr>
                <td colspan="13">
                    <div class="row">
                        <div class="col-sm-12 text-right ">
                            <div class="pagination">
                                <a href="#"><i class="fa fa-step-backward"></i></a>
                                <a href="#"><i class="fa fa-caret-left"></i></a>
                                <a href="#" class="active">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">...</a>
                                <a href="#">8</a>
                                <a href="#">9</a>
                                <a href="#">10</a>
                                <a href="#"><i class="fa fa-caret-right"></i></a>
                                <a href="#"><i class="fa fa-step-forward"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 text-left form-group pl-0" style="margin-bottom: 0">
                            <select class="form-control"
                                style="width: 15%; display: inline; margin-right: 5px; padding: 6px !important;margin-left:10px">
                                <option>20</option>
                                <option>25</option>
                                <option>30</option>
                                <option>35</option>
                            </select>
                            <span style="font-size: 12px">records per page</span>
                        </div>
                        <div class="col-sm-4 text-right" style="padding-top: 8px;float:right">
                            <span style="font-size: 12px">Showing <label>1 - 20</label> from
                                <label>567</label> Employees</span>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</section>
</div>
</div>