<div class="action-row row" >
    <div class="col-md-12" style="display: none;">
    <button class="pull-right" mat-raised-button color="primary" (click)="openPopup()">Add</button>
</div>

<div class="service-box">
    <div class="bar-img">
        <div>
        <img src="assets/images/indent.png">
        <a class="" >Retailer Indent</a>
    </div>
    <div>
            <img src="assets/images/indent.png">
            <a class="" >Old Indents</a>
        </div>
    <div>
            <img src="assets/images/indent.png">
            <a class=""  (click)="openPopup()">Create Indent</a>
        </div>
    </div> 
</div>
<div class="service-box">
        <div class="bar-img">
            <div style="    margin-top: 9px;">
            <img src="assets/images/thirty.png">
            <a class="" >Last 30days Report</a>
        </div>
        <div style="display: flex;width: 450px;">
                <img style="    margin-top: 9px;" src="assets/images/duration.png">
                <a class="" >Statement</a>
   
                <mat-form-field class="datefield">
                        <input matInput [matDatepicker] = "picker1" placeholder = "From Date">
                        <mat-datepicker-toggle matSuffix [for] = "picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                     </mat-form-field>
                     <mat-form-field class="datefield">
                            <input matInput [matDatepicker] = "picker2" placeholder = "To Date">
                            <mat-datepicker-toggle matSuffix [for] = "picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                         </mat-form-field>
            </div>
        </div> 
    </div>
</div>
<custom-grid [rowData]="rowData" [columnDefs]="columnDefs">
</custom-grid>

<app-dialogue-popup [(visible)]="showPopup" (visibleChange)="popupClose()">
    <form class="row" [formGroup]="indentForm">
        <div class="col-md-12">
            <div class="form-group col-md-6">
                <label class="sr-only">Retailer Code:</label>
                <input type="text" class="form-control" placeholder="Enter Retailer Code" formControlName="retailerCode">
            </div>
            <div class="form-group col-md-6">
                <label class="sr-only">authorisedPerson:</label>
                <input type="text" class="form-control" placeholder="Enter authorisedPerson" formControlName="authorisedPerson">
            </div>
        </div>
        <div class="row col-md-12">
            <div class="form-group col-md-6">
                <label class="sr-only">depot:</label>
                <input type="text" class="form-control" placeholder="Enter depot" formControlName="depot">
            </div>
            <div class="form-group col-md-6">
                <label class="sr-only">depotName:</label>
                <input type="text" class="form-control" placeholder="Enter depotName" formControlName="depotName">
            </div>
        </div>
        <div class="row col-md-12">
            <div class="form-group col-md-6">
                <label class="sr-only">indentCreationDate:</label>
                <input type="date" class="form-control" placeholder="Enter indentCreationDate" formControlName="indentCreationDate">
            </div>
            <div class="form-group col-md-6">
                <label class="sr-only">contactNumber:</label>
                <input type="text" class="form-control" placeholder="Enter contactNumber" formControlName="contactNumber">
            </div>
        </div>
        <div class="row col-md-12">
            <div class="form-group col-md-6">
                <label class="sr-only">vehicleNumber:</label>
                <input type="text" class="form-control" placeholder="Enter vehicleNumber" formControlName="vehicleNumber">
            </div>
            <div class="form-group col-md-6">
                <label class="sr-only">description:</label>
                <input type="text" class="form-control" placeholder="Enter description" formControlName="description">
            </div>
        </div>
        <div class="row col-md-12">
            <div class="form-group col-md-6">
                <label class="sr-only">productCode:</label>
                <input type="text" class="form-control" placeholder="Enter productCode" formControlName="productCode">
            </div>
            <div class="form-group col-md-6">
                <label class="sr-only">productDescription:</label>
                <input type="text" class="form-control" placeholder="Enter productDescription" formControlName="productDescription">
            </div>
        </div>
        <div class="row col-md-12">
            <div class="form-group col-md-6">
                <label class="sr-only">barCode:</label>
                <input type="text" class="form-control" placeholder="Enter barCode" formControlName="barCode">
            </div>
            <div class="form-group col-md-6">
                <label class="sr-only">noOfUnits:</label>
                <input type="text" class="form-control" placeholder="Enter noOfUnits" formControlName="noOfUnits">
            </div>
        </div>
        <div class="row col-md-12">
            <div class="form-group col-md-6">
                <label class="sr-only">unitPrice:</label>
                <input type="text" class="form-control" placeholder="Enter unitPrice" formControlName="unitPrice">
            </div>
            <div class="form-group col-md-6">
                <label class="sr-only">totalPrice:</label>
                <input type="text" class="form-control" placeholder="Enter totalPrice" formControlName="totalPrice">
            </div>
        </div>
        <button class="primary" (click)="submitIndent()">Save</button>
    </form>
</app-dialogue-popup>