<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <h2>Distillery</h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <h4><strong>Good Afternoon,</strong> Welcome back!</h4>
                <h6>Feel free to login any time</h6>
            </ul>
        </div>
    </div>
</nav>

<section class="suply-login">
    <div class="container">
        <div class="excise-services">
            <div class="row">
                <div class="col-md-3">
                    <div class="service-box" [routerLink]="['../home']">
                        <div class="service-img">
                            <img src="assets/images/indent.png">
                        </div>
                        <div class="service-title" >
                            <h4>Indent</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="service-box">
                        <div class="service-img">
                            <img src="assets/images/stock.png">
                        </div>
                        <div class="service-title">
                            <h4>Stock</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="service-box">
                        <div class="service-img">
                            <img src="assets/images/pricelist.png">
                        </div>
                        <div class="service-title">
                            <h4>Price List</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="service-box">
                        <div class="service-img">
                            <img src="assets/images/license.png">
                        </div>
                        <div class="service-title">
                            <h4>License Profiles</h4>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="service-box">
                        <div class="service-img">
                            <img src="assets/images/indent.png">
                        </div>
                        <div class="service-title">
                            <h4>Alerts</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="service-box">
                        <div class="service-img">
                            <img src="assets/images/stock.png">
                        </div>
                        <div class="service-title">
                            <h4>Feedback</h4>
                        </div>
                    </div>
                </div>




            </div>
        </div>


    </div>


</section>


<div class="footer">
    <p> Copyright 2019 | Excise Department | All rights reserved</p>
</div>